*{
    color: black;
}
.p1{
    text-align: center;
}
.p2{
    text-align: left;
}
.p3{
    text-align: right;
}
.p4{
    text-align: justify;

}
#fonte{

    font-size: 24px;
}
p.borda{
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
p.margem{
    margin: 25px 10px;
    border-style: dashed;
    border-color: black;
}
p.propriedade{
    margin: 25px;
    border-style: dotted;
    padding: 20px;
}
p.contorno{
     outline-style: double;
     outline-color: blue;
     margin: 40px;
     border-style: solid;
     border-color: black;
     padding: 15px;
}
.img{
    width: 150px;
    height: auto;
}
.center{
    text-align: center;
    width: 100px;
}